# Dot-prefixed files and directories
.*

# Keep git tracking itself
!.gitignore
!.gitattributes

# Python Object Files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Data files
data/

# Images
images/

# Misc
misc/

# OS
Thumbs.db

# Models
model/
no_fixed_effect_model/